.group {
	border-top: 1px solid orange;
	border-left: 1px solid orange;
	border-bottom: 5px solid orange;
	border-right: 1px solid orange;
	border-radius: 5px;
	margin-top: 5%;
}

#myGroups:last-child {
	margin-bottom: 5%
}

.group .name {
  font-size: 3em;
  font-weight: bold;
  background-color: orange;
  padding: 2% 5% 0% 5%;
}

.group .info {
	padding: 1% 5% 5% 5%;

}

.group .info .description {
	padding-top: 1%;

}

.group .info label {
	font-weight: bold;
	min-width: 125px;
}
