.tile {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #7985F1;
}

.tile:hover {
	cursor: pointer;
	-webkit-box-shadow: -2px 2px 33px 1px rgba(89,89,89,0.62);
	-moz-box-shadow: -2px 2px 33px 1px rgba(89,89,89,0.62);
	box-shadow: -2px 2px 33px 1px rgba(89,89,89,0.62);
}

.tile.tile-hover {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgb(246, 248, 248);
	border-bottom: orange 5px solid;
}

.tile.tile-hover .tile-header {
    background-color: orange;
    background-size: cover;
    height: 135px;
}

.tile.tile-hover .tile-avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.tile.tile-hover .tile-avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*border: 5px solid rgba(255,255,255,0.5);*/
    border: 5px solid black;
    padding:5px;
    background-color: rgb(246, 248, 248);
}

.tile.tile-hover .tile-info {
    padding: 4px 8px 10px;
}

.tile.tile-hover .tile-info .tile-title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #7985F1;
    vertical-align: middle;
}

.tile.tile-hover .tile-info .tile-desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #7985F1;
    text-overflow: ellipsis;
}

.tile.tile-hover .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
